# Server
PORT=5000
NODE_ENV=development

# MongoDB
# Local:      mongodb://127.0.0.1:27017/notes_app
# Atlas:      mongodb+srv://<user>:<password>@<cluster>.mongodb.net/notes_app
MONGO_URI=mongodb://127.0.0.1:27017/notes_app

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=7d

# CORS
CLIENT_URL=http://localhost:3000

# Logging
LOG_LEVEL=info
